.image-section {
    height: 100%;
    position: relative;
}

.image-content-list-item {
    background-image: url('../../assets/one-leaf.jpg');
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    background-repeat: none;
    position: relative;
}

.image-content-list {
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
}

.image-content-list-item.fixed {
    background-attachment: fixed;
}

.image-content {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    height: 99vh;
}

.image-content-title {
    font-family: var(--font-primary);
    font-size: 6rem;
    text-align: start;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-neutral2);
    padding-left: 4rem;
}

.image-content-description {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--font-tertiary);
    color: var(--color-neutral2);
    text-align: justify;
    padding: 2rem;
    
}

.video_triangle_1 {
    background-color: var(--color-neutral2);
    height: 100px;
    width: 100%;
    position: absolute;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    top: 0;
    z-index: 1;
}

.video_triangle_2 {
    background-color: var(--color-neutral2);
    height: 100px;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    bottom: 0;
    margin-bottom: -1px;
}