.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}


@media (max-width: 1024px) {
  .hero {
    height: 100vh;
  }
}

.hero_img {
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  object-fit: cover;
  object-position: center; 
}

/* Wrapper for the text content */
.hero_wrapper {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-neutral3); 
}

@media screen and (max-width: 1024px) {
  .hero_wrapper {
    top: 30%;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .hero_wrapper {
    top: 25%;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hero_wrapper {
    top: 38%;
  }

  .hero_img {
    height: 100vh;
  }
}

/* Title styling */
.hero_title {
  animation-name: fade-in;
  animation-duration: 1750ms;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0;
}

/* Subtitle styling */
.hero_subtitle {
  font-family: var(--font-playfair);
  font-size: 1.9rem;
  padding: 10px;
  animation-name: slide-in-bottom;
  animation-duration: 1750ms;
}

.hero_cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Button Styling */
.hero_cta_button {
  background-color: var(--color-pine-green);
  padding: 10px 20px;
  border-radius: 5px;
  
  animation-name: slide-in-bottom;
  animation-duration: 1750ms;
}

.hero_cta_button:hover {
  background: var(--color-golden-glow); /* Darker red on hover */
}
