.team {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  background-color: var(--color-neutral2);
  color: var(--color-text);
  height: auto;
}

.team_header {
  font-family: var(--font-playfair);
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--color-neutral3);
}

.team_subheader {
  font-family: var(--font-secondary);
  opacity: 0.8;
}

.team_members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 2rem;
  margin: auto;
  max-width: 1500px;
  padding: 2rem;
}

.team_members > *:nth-child(6) {
  grid-column-start: 2;
}

@media (max-width: 1024px) {
  .team_members {
    grid-template-columns: repeat(3, 1fr);
  }
  .team_members > *:nth-child(6) {
    grid-column-start: auto; /* Reset for smaller layouts */
  }
}

@media (max-width: 768px) {
  .team_members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .team_members {
    grid-template-columns: 1fr;
  }
}

.team_member {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: var(--color-bg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.team_member_image {
  display: block;
  justify-self: start;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.team_member_name {
  font-family: var(--font-playfair);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.team_member_role {
  font-family: var(--font-secondary);
  font-size: 1rem;
  opacity: 0.8;
}
