.team{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    background-color: var(--color-neutral2);
    color: var(--color-text);
    height: auto;
}

.team_header{
    font-family: var(--font-playfair);
    font-size: 2.2rem;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--color-neutral3);  
}

.team_subheader {
    font-family: var(--font-secondary);
    opacity: 0.8;
}

.team_members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2rem;
}

.team_member{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    background-color: var(--color-bg);
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.team_member_image{
    display: block;
    justify-self: start;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.team_member_name{}

.team_member_role{}