.about {
    padding: 2rem 0;
    text-align: center;
    /* background-color: var(--color-bg); */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    color: var(--color-text);
    height: auto;
    display: grid;
    padding: 4rem;
    grid-template-columns: 1fr 1fr;
    
}

@media screen and (max-width: 1024px) {
    .about {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
    }
}

.about_text, .about_image {
    opacity: 0;
    margin-bottom: 2rem;
}

.about.visible .about_text {
    opacity: 1; 
    animation-name: slide-in-right;
    animation-duration: 1750ms;
}

.about.visible .about_image {
    opacity: 1; 
    animation-name: slide-in-left;
    animation-duration: 1750ms;
}

.about_image {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.about_image_2 {
    animation: slide-in-left 1750ms linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.about_text_2 {
    animation: slide-in-right 1750ms linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.about_text_header {
    font-family: var(--font-playfair);
    font-size: 2.2rem;
    font-weight: 700;
    margin: 1rem 0;
    padding-top: 2rem;
    text-align: left;
    color: var(--color-neutral3);
}

.about_text_content{
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
    margin: 0;
    padding: 0;
}