.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-snow-white);
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .card {
    width: 400px;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card_image {
  padding: 12px;
}


.card_title {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  padding-left: 12px;
  align-items: flex-start;
  letter-spacing: 0.1rem;
  color: var(--color-neutral1);

}

.card_content {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--color-text);
  margin: 1rem 0;
}

.card_divider {
  height: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 12px;
  margin-left: 12px;
  background-color: var(--color-neutral1);
}
