
.logo {
    width: 60px;
    height: 60px;
    display: block;
    margin-top: 10px;
    padding: 4px;
}

.nav-links {
    font-size: large;
    display: flex;
    flex-direction: row;
}

nav {
    background-color: transparent;
    /*make the nav bar float*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;

}

nav a {
    color: var(--color-neutral1);
    text-decoration: none;
    font-weight: 700;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a:hover {
    color: var(--color-neutral2);
}